[data-autocomplete] {
  position: relative;
}

[data-autocomplete] .suggestions {
  position: absolute;
  top: 100%;
  left: -1px;
  min-width: 515px;
  border: 1px solid #ccc;
  border-top: 0;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;

  background: #fff;
  z-index: 2;
  white-space: nowrap;
  font-size: 13px;
  font-family: Helvetica, Arial;
  font-weight: normal;
  line-height: 18px;
    margin-top: 2px;
}

[data-autocomplete] .suggestions > div {
  padding: 4px 7px;
  cursor: pointer;
}

[data-autocomplete] .suggestions > div.highlight,
[data-autocomplete] .suggestions > div:hover {
  background: #EFF3F6;
  color: #fff;
}

[data-autocomplete] .suggestions > div strong {
  font-weight: bold;
}
